<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>To Do List</title>
</head>
<body >
    <div class="home">
        <header>
            <div class="logo">
                <p>ToDoList</p>
            </div>
            <div class="navbar">
                <nav class="navlinks">
                    <ul>
                        <li><Button class="navbtn">Login</Button></li>
                        <li><button class="navbtn">SignUp</button></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="home-main">
             <div class="body">
                <p class="body-title">Plan your day!</p>
                <p class="body-details">Time is money.Get a best value in your time. plan your day
                 properly and do it.make your dreams come true. </p>
                <div class="btn">
                    <form action="/log" method="get">
                        <button type="submit">Login</button>
                    </form>
                    <form action="/sign" method="get">
                        <button type="submit">SignUp</button>
                    </form>
                    
                </div>
            </div>
        </div> 
    </div>
</body>
</html>