<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn | ToDoList</title>
    <link rel="stylesheet" href="main.css">
</head>
<body class="log-body">
    <nav>
        <div class="log-container">
            <ul>
                <li>
                    <form action="/">
                        <button type="submit">&lt; Back</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <div class="small-container">
            <form action="/login" method="post">
                <h1 class="Log-Title">ToDoList</h1>
                <p class="log-p">Already have an account?</p>
                <input type="text" name="Username" id="username" placeholder="Username"> <br>
                <input type="password" name="password" id="pw" placeholder="Password"><br>
                <button type="submit" class="logbtn">Log in</button>
                <p class="forget"><a href="#">Forgotten your username and password?<p>
            </form>
        </div>
    </div>
</body>
</html>